h1{
    text-align: center;
    color: #444444;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th{
    height: 50px;
    border: 1px solid white;
    text-align: center;
}

td{
    height: 50px;
    border: 1px solid black;
    padding: 10px;
}

.white{
    border: 1px solid white;
}

thead{
    /*height: 100px;*/
    color: white;
    background-color: #444444;
}

body {
    font-family: sans-serif;
}

/*.grey:nth-child(2){*/
/*    color:green;*/
/*}*/

.grey{
    font-size: 25px;
    background-color: #c0adb6;
}